<!-- <script src=" https://cdn.jsdelivr.net/npm/html-midi-player@1.5.0/dist/midi-player.min.js "></script> -->
<!DOCTYPE html>
<html>

<head>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.4.0, "></script> -->

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.58/Tone.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tensorflow/1.2.8/tf.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html-midi-player/1.5.0/midi-player.min.js" integrity="sha512-8yYAfrtBZmm0FQ96ypFFdqvb+lAivEYNRKdDpz2oMHTj0uZDLc1W63tn/bZQeyzsVUqu7BTBGn1elxbgzX0hUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html-midi-player/1.5.0/esm/index.js"
        integrity="sha512-yZiSbm1P70nbZm9os3N0acMdHyo97/TdaLPWzs82FXwVcNCiXcYAM0hN9Bhwyh7u5MTASc3RTmrYF5WJlGTcmA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/@magenta/music@2.0.4"></script> -->
</head>

<body>
    <div>
        <!-- <form action="uploadFile" method="POST" enctype="multipart/form-data">
             <input type="file">
            {{form}}
            <input type="submit" value="submit">
        </form> -->
    </div>
    <div id="viz">
        <input type="file" id="midiFileInput">
        <input type="number" id="operationCode">
        <input type="number" id="rowNumber">
        <button id="loadMidiButton">Request MIDI</button>
        <button id="downloadFile" onclick="downloadFile()">Download MIDI</button>
        <button id="donwloadWAV" onclick="downloadWAV()">Download WAV</button>
        <button id="getRandom" onclick="getRandom()">Download random</button>
        <br>
        <midi-player src="https://cdn.jsdelivr.net/gh/cifkao/html-midi-player@2b12128/twinkle_twinkle.mid" sound-font
            id="midiPlayer" vizualizer="myStaffVisualizer myStaffVisualizer2"></midi-player>
        <br>
        <!-- <visualizer type="staff" id="myStaffVisualizer" -->
        <!-- src="https://cdn.jsdelivr.net/gh/cifkao/html-midi-player@2b12128/twinkle_twinkle.mid"></visualizer> -->
        <script
            src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.5.0"></script>
        <script>
            var globSequences = new Map();
            var globSingleSequence;
            var player = document.getElementById('midiPlayer')
            var amount = 0;
            function removeDeleteButton(i) {
                button = document.getElementById(`removeButton${i}`)
                button.parentElement.removeChild(button)
            }
            function appendVizualizer(noteSequence) {
                amount++;
                function addRequestMIDIButton(amount){
                    button = document.createElement('button')
                    button.id = `resuestMIDI${amount}`
                    button.innerHTML = "дополнить"
                    button.onclick = function () { dropRow(amount) }
                    visualizer = document.getElementById(`visual${amount}`)
                    visualizer.after(button)
                }
                function addDeleteButton(amount) {
                    button = document.createElement('button')
                    button.id = `removeButton${amount}`
                    button.innerHTML = "удалить"
                    button.onclick = function () { dropRow(amount) }
                    visualizer = document.getElementById(`visual${amount}`)
                    visualizer.after(button)
                }
                addToGlobSequences(amount, noteSequence)
                visualizer = document.createElement('midi-visualizer');
                vizContainer = document.getElementById('viz');
                visualizer.id = `visual${amount}`;
                visualizer.type = 'staff'
                visualizer.noteSequence = noteSequence;
                vizContainer.appendChild(visualizer);
                addDeleteButton(amount)
            }
            function addToGlobSequences(key, noteSequence) {
                globSequences.set(key, noteSequence)
            }
            function addToGlobSingleSequence(noteSequence) {
                if (typeof globSingleSequence !== 'undefined') {
                    globSingleSequence.notes = globSingleSequence.notes.concat(noteSequence.notes)
                }
                else {
                    globSingleSequence = core.sequences.clone(noteSequence)
                }
            }
            function restoreGlobSingleSequence() {
                let isSet = false;
                for (let seq of globSequences.values()) {
                    if (isSet) {
                        globSingleSequence.notes = globSingleSequence.notes.concat(seq.notes)
                    }
                    else {
                        globSingleSequence = core.sequences.clone(seq)
                        isSet = true;
                    }
                }
            }
            function updatePlayer() {
                player.noteSequence = globSingleSequence
            }
            function dropVizualizer(i) {
                visualizer = document.getElementById(`visual${i}`)
                visualizer.parentNode.removeChild(visualizer)
            }
            function downloadFile() {
                file = getMidiFromNoteSequence(globSingleSequence)
                url = URL.createObjectURL(file);
                const anchor = document.createElement('a');
                anchor.href = url;
                anchor.download = 'example.txt';
                anchor.dispatchEvent(new MouseEvent('click'));
                setTimeout(() => {
                    URL.revokeObjectURL(url);
                }, 0);
            }
            async function getMidiFromNoteSequence(i) {
                let seq = globSequences.get(i)
                seq.controlChanges = globSingleSequence.controlChanges
                seq = await core.sequenceProtoToMidi(seq)
                file = new Blob([seq], { type: 'audio/midi' })
                return file
            }
            function dropRow(i) {
                console.log("removing " + i)
                dropVizualizer(i)
                removeDeleteButton(i)
                removeNoteSequence(i)
                restoreGlobSingleSequence()
                updatePlayer()
            }
            function removeNoteSequence(key) {
                globSequences.delete(key)
            }
            async function getRandom() {
                try {
                    response = await fetch('http://127.0.0.1:8080/musicbot/getAudio', {
                        method: 'GET',
                        // headers: {
                        //     'Content-Type': 'multipart/form-data'
                        // }
                    });

                    blob = await response.blob();
                    newSequence = await core.blobToNoteSequence(blob)
                    appendVizualizer(newSequence)
                    addToGlobSingleSequence(newSequence)
                    updatePlayer()
                }
                catch (error) {
                    console.error('Upload error:', error);
                }
            }
            // Wait for the DOM to load
            window.addEventListener('DOMContentLoaded', () => {
                // Get the midi-file-input element
                let fileInput = document.getElementById('midiFileInput');
                let midiButton = document.getElementById('loadMidiButton');
                let operationCodeContainer = document.getElementById('operationCode');
                let rowNumberContainer = document.getElementById('rowNumber')
                midiButton.addEventListener('click', async () => {
                    operationCode = operationCodeContainer.value
                    rowNumber = rowNumberContainer.value
                    midiFile = await getMidiFromNoteSequence(Number(rowNumber))
                    formData = new FormData();
                    formData.append('file', midiFile);
                    formData.append('operationCode', operationCode)
                    try {
                        // Send an HTTP POST request to the server
                        response = await fetch('http://127.0.0.1:8080/musicbot/test', {
                            method: 'POST',
                            body: formData,
                            // headers: {
                            //     'Content-Type': 'multipart/form-data'
                            // }
                        });
                        blob = await response.blob();
                        newSequence = await core.blobToNoteSequence(blob)
                        appendVizualizer(newSequence)
                        addToGlobSingleSequence(newSequence)
                        updatePlayer()
                    }
                    catch (error) {
                        console.error('Upload error:', error);
                    }
                });
                // Add an event listener to the file input element
                fileInput.addEventListener('change', () => {
                    // Get the selected file
                    var file = fileInput.files[0];

                    // Create a URL for the selected file
                    var fileUrl = URL.createObjectURL(file);

                    core.urlToNoteSequence(fileUrl).then(function (result) {
                        console.log(result);
                        const instrumentIds = new Set(Array.from(result.notes, note => note.program));
                        const noteArrays = Array.from(instrumentIds, id => result.notes.filter(note => note.program === id));
                        const sequences = noteArrays.map(notes => {
                            return {
                                notes: notes,
                                totalTime: result.totalTime,
                                tempos: result.tempos
                            };
                        });
                        return sequences;
                    }).then(function (sequences) {
                        console.log("fileSequenceLength " + sequences.length)
                        // console.log(sequences);
                        for (let i = 0; i < sequences.length; i++) {
                            const seq = sequences[i];
                            appendVizualizer(seq)
                        }
                        restoreGlobSingleSequence()
                        updatePlayer()
                    });
                });
            });
        </script>
    </div>
</body>

</html>