<!-- <script src=" https://cdn.jsdelivr.net/npm/html-midi-player@1.5.0/dist/midi-player.min.js "></script> -->
<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.4.0, "></script> -->

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.58/Tone.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tensorflow/1.2.8/tf.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html-midi-player/1.5.0/midi-player.min.js" integrity="sha512-8yYAfrtBZmm0FQ96ypFFdqvb+lAivEYNRKdDpz2oMHTj0uZDLc1W63tn/bZQeyzsVUqu7BTBGn1elxbgzX0hUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html-midi-player/1.5.0/esm/index.js"
        integrity="sha512-yZiSbm1P70nbZm9os3N0acMdHyo97/TdaLPWzs82FXwVcNCiXcYAM0hN9Bhwyh7u5MTASc3RTmrYF5WJlGTcmA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/@magenta/music@2.0.4"></script> -->
</head>

<body>
    <div>
        <!-- <form action="uploadFile" method="POST" enctype="multipart/form-data">
             <input type="file">
            {{form}}
            <input type="submit" value="submit">
        </form> -->
    </div>
    <div id="viz" border-radius="1px">
        <div>
            <label>Загрузить файл</label>
            <input type="file" id="midiFileInput" class="form-control-sm">
            <button onclick="downloadFile()" class="btn btn-primary">Скачать файл</button>
        </div>
        <div>
            Режим
            <select id="operationCodeContainer" class="" name="operationCode">
                <option value="0">
                    Подобрать аккомпанемент</option>
                <option value="1">Подобрать мелодию</option>
            </select>
        </div>
        <!-- <input type="number" id="operationCode" > -->
        <div>
            <label>Вариативность высоты</label>
            <input id="pitch_tempContainer" type="number" step="0.1" value="1">
        </div>
        <div>
            <label>Вариативность ритма</label>
            <input id="tempo_tempContainer" type="number" step="0.1" value="1">
        </div>
        <div>
            <label>Количество элементов</label>
            <input id="n_wordsContainer" type="number" value="100" step="1">
        </div>
        <button id="getRandom" class="btn btn-light" onclick="getRandom()">Download random</button>
        <br>
        <midi-player src="https://cdn.jsdelivr.net/gh/cifkao/html-midi-player@2b12128/twinkle_twinkle.mid" sound-font
            id="midiPlayer" vizualizer="myStaffVisualizer myStaffVisualizer2"></midi-player>
        <br>
        <!-- <visualizer type="staff" id="myStaffVisualizer" -->
        <!-- src="https://cdn.jsdelivr.net/gh/cifkao/html-midi-player@2b12128/twinkle_twinkle.mid"></visualizer> -->
        <script
            src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.5.0"></script>
        <script>
            var globSequences = new Map();
            var globSingleSequence;
            var player = document.getElementById('midiPlayer')
            var amount = 0;
            function removeDeleteButton(i) {
                button = document.getElementById(`removeButton${i}`)
                button.parentElement.removeChild(button)
            }
            function appendVizualizer(noteSequence) {
                amount++;
                function addRequestMIDIButton(amount) {
                    button = document.createElement('button')
                    button.id = `requestMIDI${amount}`
                    button.innerHTML = "дополнить"
                    button.onclick = function () { requestMIDI(amount) }
                    visualizer = document.getElementById(`visual${amount}`)
                    visualizer.after(button)
                }
                function addDeleteButton(amount) {
                    button = document.createElement('button')
                    button.id = `removeButton${amount}`
                    button.innerHTML = "удалить"
                    button.onclick = function () { dropRow(amount) }
                    visualizer = document.getElementById(`visual${amount}`)
                    visualizer.after(button)
                }
                addToGlobSequences(amount, noteSequence)
                visualizer = document.createElement('midi-visualizer');
                vizContainer = document.getElementById('viz');
                visualizer.id = `visual${amount}`;
                visualizer.type = 'staff'
                visualizer.noteSequence = noteSequence;
                vizContainer.appendChild(visualizer);
                addDeleteButton(amount)
                addRequestMIDIButton(amount)
            }
            function addToGlobSequences(key, noteSequence) {
                globSequences.set(key, noteSequence)
            }
            function addToGlobSingleSequence(noteSequence) {
                if (typeof globSingleSequence !== 'undefined') {
                    globSingleSequence.notes = globSingleSequence.notes.concat(noteSequence.notes)
                }
                else {
                    globSingleSequence = core.sequences.clone(noteSequence)
                }
            }
            function restoreGlobSingleSequence() {
                let isSet = false;
                for (let seq of globSequences.values()) {
                    if (isSet) {
                        globSingleSequence.notes = globSingleSequence.notes.concat(seq.notes)
                    }
                    else {
                        globSingleSequence = core.sequences.clone(seq)
                        isSet = true;
                    }
                }
            }
            function updatePlayer() {
                player.noteSequence = globSingleSequence
            }
            function dropVizualizer(i) {
                visualizer = document.getElementById(`visual${i}`)
                visualizer.parentNode.removeChild(visualizer)

            }
            async function downloadFile() {
                m = await core.sequenceProtoToMidi(globSingleSequence)
                file = new Blob([m], { type: 'audio/midi' })
                url = URL.createObjectURL(file);
                const anchor = document.createElement('a');
                anchor.href = url;
                anchor.download = 'example.txt';
                anchor.dispatchEvent(new MouseEvent('click'));
                setTimeout(() => {
                    URL.revokeObjectURL(url);
                }, 0);
            }
            async function getMidiFromNoteSequence(i) {
                let seq = globSequences.get(i)
                seq.controlChanges = globSingleSequence.controlChanges
                seq = await core.sequenceProtoToMidi(seq)
                file = new Blob([seq], { type: 'audio/midi' })
                return file
            }

            function removeRequestMIDIButton(i) {
                button = document.getElementById(`requestMIDI${i}`)
                button.parentElement.removeChild(button)
            }
            function dropRow(i) {
                console.log("removing " + i)
                dropVizualizer(i)
                removeDeleteButton(i)
                removeRequestMIDIButton(i)
                removeNoteSequence(i)
                restoreGlobSingleSequence()
                updatePlayer()
            }
            function removeNoteSequence(key) {
                globSequences.delete(key)
            }
            async function getRandom() {
                let operationCodeContainer = document.getElementById('operationCodeContainer');
                let pitch_tempContainer = document.getElementById('pitch_tempContainer')
                let tempo_tempContainer = document.getElementById('tempo_tempContainer')
                let n_wordsContainer = document.getElementById('n_wordsContainer')
                operationCode = operationCodeContainer.value
                pitch_temp = pitch_tempContainer.value
                tempo_temp = tempo_tempContainer.value
                n_words = n_wordsContainer.value
                formData = new FormData();
                formData.append('pitch_temp', Number(pitch_temp))
                formData.append('tempo_temp', Number(tempo_temp))
                formData.append('n_words', Number(n_words))
                try {
                    response = await fetch('http://127.0.0.1:8080/musicbot/getAudio', {
                        method: 'POST',
                        body: formData,
                        // headers: {
                        //     'Content-Type': 'multipart/form-data'
                        // }
                    });

                    blob = await response.blob();
                    newSequence = await core.blobToNoteSequence(blob)
                    appendVizualizer(newSequence)
                    addToGlobSingleSequence(newSequence)
                    updatePlayer()
                }
                catch (error) {
                    console.error('Upload error:', error);
                }
            }
            async function requestMIDI(rowNumber) {
                let operationCodeContainer = document.getElementById('operationCodeContainer');
                let pitch_tempContainer = document.getElementById('pitch_tempContainer')
                let tempo_tempContainer = document.getElementById('tempo_tempContainer')
                let n_wordsContainer = document.getElementById('n_wordsContainer')
                operationCode = operationCodeContainer.value
                pitch_temp = pitch_tempContainer.value
                tempo_temp = tempo_tempContainer.value
                n_words = n_wordsContainer.value
                midiFile = await getMidiFromNoteSequence(Number(rowNumber))
                formData = new FormData();
                formData.append('file', midiFile);
                formData.append('operation_code', Number(operationCode))
                formData.append('pitch_temp', Number(pitch_temp))
                formData.append('tempo_temp', Number(tempo_temp))
                formData.append('n_words', Number(n_words))
                try {
                    // Send an HTTP POST request to the server
                    response = await fetch('http://127.0.0.1:8080/musicbot/test', {
                        method: 'POST',
                        body: formData,
                        // headers: {
                        //     'Content-Type': 'multipart/form-data'
                        // }
                    });
                    blob = await response.blob();
                    newSequence = await core.blobToNoteSequence(blob)
                    appendVizualizer(newSequence)
                    addToGlobSingleSequence(newSequence)
                    updatePlayer()
                }
                catch (error) {
                    console.error('Upload error:', error);
                }
            }
            // Wait for the DOM to load
            window.addEventListener('DOMContentLoaded', () => {
                // Get the midi-file-input element
                let fileInput = document.getElementById('midiFileInput');
                let midiButton = document.getElementById('loadMidiButton');
                let operationCodeContainer = document.getElementById('operationCode');
                let rowNumberContainer = document.getElementById('rowNumber')
                let pitch_tempContainer = document.getElementById('pitch_tempContainer')
                let tempo_tempContainer = document.getElementById('tempo_tempContainer')
                // Add an event listener to the file input element
                fileInput.addEventListener('change', () => {
                    // Get the selected file
                    var file = fileInput.files[0];

                    // Create a URL for the selected file
                    var fileUrl = URL.createObjectURL(file);

                    core.urlToNoteSequence(fileUrl).then(function (result) {
                        console.log(result);
                        const instrumentIds = new Set(Array.from(result.notes, note => note.program));
                        const noteArrays = Array.from(instrumentIds, id => result.notes.filter(note => note.program === id));
                        const sequences = noteArrays.map(notes => {
                            return {
                                notes: notes,
                                totalTime: result.totalTime,
                                tempos: result.tempos
                            };
                        });
                        return sequences;
                    }).then(function (sequences) {
                        console.log("fileSequenceLength " + sequences.length)
                        // console.log(sequences);
                        for (let i = 0; i < sequences.length; i++) {
                            const seq = sequences[i];
                            appendVizualizer(seq)
                        }
                        restoreGlobSingleSequence()
                        updatePlayer()
                    });
                });
            });
        </script>
    </div>
</body>

</html>